styling.css


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes movelefttoright{
	0% {left: 0; }
	100% {left: calc(100% - 50px);}
}

@keyframes moverighttoleft{
	0% {right: 0; 
		transform: rotate(0deg);}

	100% {right: calc(100% - 50px);
		transform: rotate(360deg);}
}

.car {
	font-size: 100px;  
	position: fixed;
	top: 20%;
	left: -50px;
	animation: movelefttoright 3s linear infinite;
}

.jet{
	font-size: 100px;
	position: fixed;
	top: 20%;
	right: -50px;
	animation: moverighttoleft 3s linear infinite;
}
